.block-link {
  border: 1px solid grey;
  padding: 1px;
  margin: 2px;
}

.icon-sprite {
  width: 64px;
  height: 64px;
  scale: 0.4;
  margin: -18px;
  border: 0;
  display: inline-block;
  vertical-align: middle;
}

.item-list td:first-child {
  text-align: right;
  padding: 5px;
}

.wtb td {
  vertical-align: top;
  border-bottom: 1px solid white;
  padding-bottom: 1em;
  padding-top: 1em;
}

.wtb th {
  text-align: center;
}
